<div>
    <div [@filterAnim]>
        <mat-form-field class="w-100" appearance="outline" floatLabel="always">
            <mat-label>Filter</mat-label>
            <input [(ngModel)]="search" matInput type="text" class="filter" placeholder="search"
                [readonly]="isLoadingAction()">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>
    @if (notesFiltered() && !isLoadingData()) {
        @if (notesFiltered()?.length! > 0) {
            <div [@listAnim]>
                @for (item of notesFiltered(); track item.id) {
                <mat-card [@itemAnim] class="mb-2">
                    <mat-card-header class="fw-bold mb-2">{{item.title}}</mat-card-header>
                    <mat-card-content class="content">
                        <p class="description fs-5">{{item.description}}</p>
                        <div class="gradient-fade"></div>
                    </mat-card-content>
                    <mat-card-actions class="d-flex gap-2">
                        <button mat-raised-button color="accent" [disabled]="isLoadingAction()"
                            (click)="editNote.emit(item.id)">Edit</button>
                        <button mat-raised-button color="primary" [disabled]="isLoadingAction()"
                            (click)="onDelete(item.id)">
                            @if (selectedNoteId() === item.id && isLoadingAction()) {
                                <mat-progress-spinner color="accent" diameter="20" mode="indeterminate"></mat-progress-spinner>
                            } @else {
                                <span>Delete</span>
                            }</button>
                    </mat-card-actions>
                </mat-card>
                }
            </div>
        } @else {
            <div  class="lottie-empty">
                <ng-lottie [options]="lottieEmptyOptions"></ng-lottie>
                <p class="text-center fs-5">There are no notes here, Click plus icon to add</p>
            </div>
        }
    } @else {
    <!-- Skeleton Loader template -->
    <div [@listAnim]>
        @for (item of [1, 2, 3, 4]; track $index) {
        <mat-card [@skeletonAnim] class="mb-2">
            <mat-card-content>
                <div class="w-25">
                    <ngx-skeleton-loader count="1" appearance="line" animation="pulse"
                        loadingText="loading"></ngx-skeleton-loader>
                </div>
                <div class="w-75">
                    <ngx-skeleton-loader count="1" appearance="line" animation="pulse"
                        loadingText="loading"></ngx-skeleton-loader>
                </div>
                <div class="w-50">
                    <ngx-skeleton-loader count="1" appearance="line" animation="pulse"
                        loadingText="loading"></ngx-skeleton-loader>
                </div>
            </mat-card-content>
        </mat-card>
        }
    </div>
    }
</div>